<h1>
    <a href="/" style="color: white;">
        The First Lemurian Clothing Taxonomy
    </a>
</h1>
<ul class="header-nav">
    <li>
        <p>
            <a href="https://lct01.lemuria.ph/journal">
                The <i>Journal</i>
            </a>
        </p>
    </li>
    <li>
        <p>
            <a href="https://lct01.lemuria.ph/ivl">
                The <i>IVL</i>
            </a>
        </p>
    </li>
    <li>
        <p>
            <a href="https://zenodo.org/communities/lct01/records">
                Zenodo
            </a>
        </p>
    </li>
</ul>
