{{ define "main" }}

<div>
  <h1>
    {{ if eq .Params.taxa.rank "genus" }}<i>{{end}}
      {{ .Title }}
      {{ if eq .Params.taxa.rank "genus" }}</i>{{end}}
  </h1>
  {{with .Params.taxa.authority}}
  <span>
    {{.}}
  </span>
    {{end}}
</div>
    
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "2006-01-02" }}
<p>
    <span>
        Last update:
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </span>
</p>

<p>
    <b>Hierarchy:</b>
    <span>
        {{ partial "taxon-breadcrumb.html" (dict "slug" .Params.taxa.id ) }}
    </span>
</p>

{{ $children := where .Site.RegularPages "Params.taxa.parent" .Slug }}
{{ if $children }}
  <h2>Child taxa</h2>
  <ul>
    {{ range $children }}
      <li>
        {{ partial "taxon-title.html" .}}
      </li>
    {{ end }}
  </ul>
{{ end }}


{{ .Content }}
{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
